header{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #4682b4;
    height: 5em;
    font-family: 'Press Start 2P', cursive;
}

header img{
    max-height: 2.5em;
    margin-right: 50px;
    margin-left: 20px
}
header h1{
    font-size: 2em;    
}
#select_type{
    width: 70px
}
.search{
    margin: 2em 12em;
    display: flex;   
    align-items: center;
}
.search input{
    width: 230px
}