*{
    font-family: 'Press Start 2P', cursive;
}
header{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #4682b4;
    height: 5em;
    font-family: 'Press Start 2P', cursive;
}
header img{
    max-height: 2.5em;
    margin-right: 50px;
    margin-left: 20px;
}
header h1{
    font-size: 1.5em;    
}
.search{    
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.search input{
    margin-bottom:1em;
    height:2em;
    padding: 3px;
    border: 1px solid;
    text-align: center;
}
#select_type{
    width: 10em;
    height: 2em;   
    text-align: center;      
}

@media screen and (min-width: 1024px) {
    .search{ 
        flex-direction: row;   
        align-items: baseline;
        justify-content: flex-start;      
    }
    .input{
        margin-left: 7em;
        margin-right: 2em;
    }
}
