:root{
    --white: #FFF;
    --red: red;
    --blue: #4682b4;
    --gray: gray;
    --black: black;
}
*{
    font-family: 'Press Start 2P', cursive;
}
header{
    display: flex;
    align-items: center;
    width: 100%;
    background-color:var(--blue);
    height: 5em;
    font-family: 'Press Start 2P', cursive;
}
header img{
    max-height: 2.5em;
    margin-right: 50px;
    margin-left: 20px;
}
header h1{
    font-size: 1.5em;    
}
.search{    
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.search input{
    margin-bottom:1em;
    height:2em;
    padding: 3px;
    border: 1px solid;
    text-align: center;
}
#select_type{
    width: 10em;
    height: 2em;   
    text-align: center;      
}
.divCards{
    margin: 2em;
    display: flex;
    flex-wrap: wrap;    
}
.cardPokemon{
    width: 17em;
    height: 22em;
    border: 1px solid;    
    background-color: var(--red);
    margin: 1em;
    display: flex;
    align-items:center;
    flex-direction: column;
}
.cardHeader{
    width:91%;
    display: flex;
    align-items:center;
    justify-content: space-between
}
.blueBall{
    height: 2em;
    width: 2em;
    background: radial-gradient(closest-corner, var(--white),var(--blue), var(--blue));
    background-position:top;
    border: 1px solid;
    border-radius: 100px;
    margin-top:1em;    
}
.nomePokemon{
    background-color: var(--white);
    width: 12em;
    height: 2em;
    border: thick double;
    margin-top: 1em;
    font-size: 0.7em;
    text-align: center;
    padding-top: 10px;
    margin-left:0.5em
}
.articleCard{
    margin-top: 5px;
    background-color: var(--gray);
    height: 76%;
    width: 90%;
    align-items: center;
    border: 1px solid;
    border-radius: 0px 0px 0px 50px
}
.imgPokemon{    
    background-color:var(--black);
    width: 90%;
    max-height: 60%;
    margin-left: 10px;
    margin-top: 5px
}
.sectionStats{
    max-width: 60%;
    font-size: 0.7em;
    display: flex;    
    flex-direction: column;
    margin-top: 2px;
    flex-wrap: wrap; 
    align-items: center;      
    position: relative;
    left: 7em
}
.buttonStatus{
    width: 8em;
    border: thick double;
}
.type{
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 1em;
    padding-top:4px;
    height:1.5em;
    width:9em;
}
.type-grass{
    background-color:  #9bcc47;
}
.type-poison{
    background-color:  #b97fc6;
}
.type-fire{
    background-color:  #fd7d22;
}
.type-flying{    
    background: linear-gradient(180deg, #3dc7ef 50%, white 50%);
}
.type-water{
    background-color: #4592c4;
}
.type-bug{
    background-color: #729f3f;
}
.type-normal{
    background-color: white;
}
.type-electric{
    background-color: #eed535;
}
.type-ground{
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}
.type-fairy{
    background-color: #fdb9e9;
}
.type-fighting{
    background-color: #d56723;
}
.type-psychic{
    background-color: #f366b9;
}
.type-rock{
    background-color:  #a38c21;
}
.type-steel{
    background-color: #9eb7b8;
}
.type-ice{
    background-color: #51c4e7;
}
.type-ghost{
    background-color:  #7b62a3;
}
.type-dragon{
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}
.invisible{
    display:none;
}
.divStats{
    width: 90%;
    height: 60%;
    margin-left: 10px;
    margin-top: 5px;
    background-color: white;
    font-size: 0.7em;    
}
.nameListStats{
    padding-top: 5px;
    padding-left: 2px;
}
.backGroundStats{
    background: linear-gradient(to left, var(--blue),#87ceeb);
    height:10px;   
    max-width:100%;    
}


@media screen and (min-width: 1024px) {
    .search{ 
        flex-direction: row;   
        align-items: baseline;
        justify-content: flex-start;      
    }
    .input{
        margin-left: 7em;
        margin-right: 2em;
    }
}